<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.adminclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClcFl9MS1Gw7W2S-oIoyfzaohJ3BmnCLQ"/>
        <activity
            android:name=".NavigationActivity"
            ></activity>
        <activity android:name=".CarDetailActivity"
            android:theme="@style/AppThemeBigText"/>
        <activity android:name=".fragment.ListCarsFragment" />
        <activity
            android:name=".CostumerDetailActivity"
 />
        <activity
            android:name=".fragment.ListUsersFragment"
  />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>